<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Payment Simulator</title>


	<link rel="stylesheet" href="{$basePath}/css/bootstrap/4.0.0-alpha.5/bootstrap.min.css">

	<!--
	<link rel="stylesheet" href="{$basePath}/css/bootstrap/3.3.7/bootstrap.min.css">
	-->

	<style>
		body {
			padding-top: 20px;
			padding-bottom: 20px;
		}
		.navbar {
			margin-bottom: 20px;
		}
	</style>
</head>

<body>

	<div class="container">

		<nav class="navbar navbar-light bg-faded">
			<button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation"></button>
			<div class="collapse navbar-toggleable-xs" id="navbar-header">
				<a class="navbar-brand" href="/">Online Payment Simulator</a>
				<!--
				<ul class="nav navbar-nav">
					<li class="nav-item{ifCurrent Homepage:*} active{/ifCurrent}">
						<a class="nav-link" href="#todo">Home {ifCurrent Homepage:*}<span class="sr-only">(current)</span>{/ifCurrent}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#todo">Sign calculator</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#todo">Supported gateways</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#todo">Docs</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#todo">About</a>
					</li>
				</ul>
				-->
			</div>
		</nav> <!-- /navbar -->


		<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

		{include content}

		<footer class="">
			<div class="container">
				<div class="row">
					<hr>
					<p class="text-center">
						Made with ❤️ &nbsp; by <a href="https://www.linkedin.com/in/tomasmajer/">tomaj</a>
					</p>
				</div>
			</div>
		</footer>
	</div>

	{block scripts}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	{/block}
</body>
</html>
