
{block content}

<div class="row">
	<div  class="col-md-12">
		<div class="jumbotron">
			<h1>Payment simulator</h1>
			<p>Todo description - supported banks, documetations</p>
			<p>todo</p>
			<p>
				<a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">View navbar docs &raquo;</a>
			</p>
		</div>
	</div>
</div>
