{block #content}

<h1>CardPay Direct simulator - 3DS</h1>

<div>
    <div>
        <h4>Params:</h4>
        <pre>{php print_r($params)}</pre>
    </div>
</div>

<div>
    <a href="{$tdsTermUrl}" class="btn btn-primary">continue</a>
</div>
